<% layout('layouts/main.ejs') %>
<form action="/signin" method="POST">
  <input
    type="email"
    name="email"
    placeHolder="Insert email"
  >
  <input
    type="password"
    name="password"
    placeHolder="Insert password"
  >
  <button
    type="submit"
  >
    Sign In
  </button>
  <a href="/">index</a> 
</form>